@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

ul {
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
}

#mywork {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px;
  
  background: #f4f4f4 no-repeat center/cover;
}

.project-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.project-heading h3 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #1a1a1a;
}

.project-heading a {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #3a3a3a;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
/*--- end of hover project header ---*/

.project-heading span {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.project-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  flex-wrap: wrap;
  margin: 20px;
}

.project-filter li {
  border-radius: 8px;
  margin: 10px;
  padding: 5px 20px;
  color: #1a1a1a;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.project-filter li:hover {
  background-color: #2b2b2b;
  transition: all 0.35 s;
  color: #ffffff;

}

.project-filter-active {
  background-color: #9e9e9e;
  color: #ffffff;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
}


.project-box {
  width: 25%;
  padding: 15px;
  border-radius: 8px;
  margin: 1%;
  background-color: #f4f4f4;
  /* box-shadow: #ffffff54 0px 0px 5px 3.5px; */
}

.project-box img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.4s;
}

.project-description a{
  color: rgb(51, 51, 51);
}

.project-description p{
  color: rgb(51, 51, 51);
}

.project-footer p{
  font-family: 'Robo Mono', monospace; 
  font-size: 0.9rem; 
  color: rgb(51, 51, 51);
  float: left;
  position: relative;

}

.project-footer i{
  color: rgb(51, 51, 51);
  float: right;
  margin: auto;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}

/* .project-footer ul{
  display: -webkit-flex;
} */

@media (hover: hover) {
  .project-box:hover {
    background-color: rgba(190, 190, 190, 0.384);
    transition: all 0.4s;
  }
  .project-box:hover {
    transform: scale(1.02);
    transition: all 0.4s;
  }
  .project-box img:hover {
    transform: scale(1.05);
    transition: all 0.4s;
  }
}

@media (max-width: 540px) {
  .project-filter {
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 50%;
  }

  .project-filter-active {
    background-color: #9e9e9e;
    border: 1px solid color #ffffff;
  }

  .project-filter li {
    border-radius: 8px;
    margin: 10px;
    padding: 5px 20px;
    color: #1a1a1a;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
  }

  .project-box {
    width: 80px;
  }
}

@media (max-width: 1280px) and (min-width: 760px) {
  .project-heading h3{
    font-size: 3.5rem;
  }

  .project-box {
    width: 40%;
    transition: .5s;
    margin: 2%;
  }
  .project-description h3{
    font-size: 2rem;
  }
}

@media (max-width: 760px) and (min-width: 540px) {
  .project-box {
    width: 80%;
    transition: .5s;
    margin-top: 5%;
  }
}

@media (max-width: 540px) {
  .project-heading h3{
    font-size: 2.5rem;
  }
  .project-box {
    width: 80%;
    transition: .5s;
    margin-top: 5%;
  }
  .project-description h3{
    font-size: 1.7rem;
  }
}
